/* .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

li{
  list-style: none;
}

.post {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.post p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}
*/
/* .post img {
  
}  */


.postlist{
  display: flex;
  /* flex-direction: row-reverse;  */
  flex-wrap: wrap-reverse;
  margin: auto;
  list-style: none;
  padding-top: 5px;
  background-color: rgb(244, 227, 227);
}

.postlistblock{
  border: 1px solid;
  /* margin-right: 60px; */
  width: 250px;
  height: 260px;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  overflow-wrap: break-word;
  margin:0 20px 20px 0;
 
}

.postlistblock:hover
{
  opacity: 0.5;
}

.postlist img{
  height: 200px;
  width: 250px;
  object-fit: cover;
  
  
}

.postlist h3{
  border-top: 1px solid;
  padding: 10px;
  margin:0;
  font-size: 20px;
  height: 30px;
  background-color: blanchedalmond;
}

.postlist p{
  margin: 0;
  border-top: 1px solid;
  padding: 10px;
  background-color: aliceblue;
  font-size: 15px;
  height: 30px;
}

